.DivCardsApp {
    background-color: var(--light-green);
    padding: 40px 15px;
    width: 100vw;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.DivContainer {
    position: relative;
    display: block;
    background-color: var(--light-green);
    max-width: 1400px;
    margin: 0 auto;
}

.DivCardsApp > div {
    padding: 40px 30px 0;
    width: 100%;
}
.DivCardsApp > div > div {
    margin-bottom: 8em;
}
.DivCardsApp > div > div > h3 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
}
.DivCardsApp > div > div > p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}
.DivCardsApp > div > div:nth-child(2) + div {
    background-color: var(--white);
    padding-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgb(64 79 104 / 5%);
    margin-bottom: 30px;
}
.DivCardsApp > div > div:nth-child(2) + div > div:first-of-type {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
    padding: 27px 30px 37px;
    min-height: 60px;
}
.DivCardsApp > div > div:nth-child(2) + div > div:first-of-type > h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.DivCardsApp > div > div:first-of-type > div {
    margin: 40px 0 24px 0;
}
.DivCardsApp > div > div:first-of-type > div > button {
    /*visibility: hidden;*/
    color: var(--dark-green);
    background: rgba(25, 103, 210, 0.07);
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    position: relative;
    font-size: 14px;
    line-height: 25px;
    padding: 10px 30px;
    border-radius: 8px;
}

/*------------------CARDS--------------*/
.DivCardsApp > div > div:nth-child(2) + div > div:last-of-type {
    margin: 0 30px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.CardEmp {
    position: relative;
    padding: 30px 30px;
    display: flex;
    flex-direction: row;
    width: 48.5%;
    border: 1px solid var(--light-green);
    border-radius: 8px;
    margin-bottom: 30px;
}
.DivCardsApp > div > div:last-child > div > div > div {
    margin-right: 10px;
}
.imgCardEmp {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin: 0 14px;
}
.DivCardsApp > div > div:last-child > div > div > div + div {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 222px;
}
.DivCardsApp > div > div:last-child > div > div > div + div > div,
.DivCardsApp > div > div:last-child > div > div > div + div > div > div {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.DivCardsApp > div > div:last-child > div > div > div + div > div {
    color: dimgray;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    margin: 0.5rem 0;
}
.DivCardsApp > div > div:last-child > div > div > div + div > div:last-of-type {
    position: relative;
    bottom: 0;
}
.DivCardsApp > div > div:last-child > div > div > div + div > h4 {
    margin-bottom: 0.5rem;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}
.DivCardsApp > div > div:last-child > div > div > div + div > div > div {
    margin: 0 20px 10px 0;
    height: auto;
}
.DivCardsApp > div > div:last-child > div > div > div + div > div > div > p {
    margin-left: 0.2rem;
    margin-top: -0.1rem;
}
.DivCardsApp
    > div
    > div:last-child
    > div
    > div
    > div
    + div
    > div:nth-child(3)
    > ul
    > li:nth-child(1) {
    display: inline;
    position: relative;
    background-color: hsla(215, 79%, 46%, 0.15);
    color: hsla(215, 79%, 46%, 1);
    border-radius: 5rem;
    font-size: 14px;
    list-style: none;
    line-height: 20px;
    padding: 5px 20px;
    margin: 0 10px 2px 0;
}
.DivCardsApp
    > div
    > div:last-child
    > div
    > div
    > div
    + div
    > div:nth-child(3)
    > ul
    > li:nth-child(2) {
    display: inline;
    position: relative;
    background-color: hsla(136, 54%, 43%, 0.15);
    color: hsla(136, 54%, 43%, 1);
    border-radius: 5rem;
    font-size: 14px;
    list-style: none;
    line-height: 20px;
    padding: 5px 20px;
    margin: 0 10px 2px 0;
}
.DivCardsApp
    > div
    > div:last-child
    > div
    > div
    > div
    + div
    > div:nth-child(3)
    > ul
    > li:nth-child(3) {
    display: inline;
    position: relative;
    background-color: hsla(41, 100%, 49%, 0.15);
    color: hsla(41, 100%, 49%, 1);
    border-radius: 5rem;
    font-size: 14px;
    list-style: none;
    line-height: 20px;
    padding: 5px 20px;
    margin: 0 10px 2px 0;
}

/*------------------MEDIA---------------------*/
@media (min-width: 991px) {
    .DivCardsApp > div > div:first-of-type > div {
        display: none;
    }
}

@media (max-width: 991px) {
    .DivCardsApp {
        top: 6vh;
        left: 0px;
        width: 100%;
    }
    .DivCardsApp > div > div:last-child > div > div > div + div {
        width: 100%;
    }
    .CardCand {
        width: 100%;
        margin: 0 0 30px 0;
        height: 100%;
        min-height: 213px;
    }
    .DivCardsApp > div > div:nth-child(2) + div {
        padding: 0 0 40px 0;
    }
}

@media (max-width: 390px) {
    .DivCardsApp > div {
        padding: 40px 15px 0;
    }
    .CardEmp {
        flex-direction: column;
        padding: 20px 20px;
        width: 100%;
        height: 100%;
        min-height: 260px;
    }
    .imgCardEmp {
        margin: 0 14px 0 0;
    }
    .DivCardsApp > div > div:nth-child(2) + div > div:last-of-type {
        margin: 0 20px;
    }
    .DivCardsApp > div > div:nth-child(2) + div > div:first-of-type {
        padding: 40px 20px;
    }
    .DivCardsApp > div > div:last-child > div > div > div:first-of-type {
        margin-bottom: 20px;
    }
    .DivCardsApp > div > div > h3 {
        font-size: 24px;
        line-height: 1.3em;
    }
}

#root > section > div > div:nth-child(2) {
    background-color: blue;
}
