.ch-password-dashboard {
    position: relative;
    background-color: var(--light-green);
    line-height: 28px;
    padding: 2rem;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
.ch-password-title-box {
    margin-bottom: 9.55em;
}
.ch-password-title-box h3 {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 1.3em;
}
.top-title-text {
    color: dimgray;
    line-height: 24px;
}
.ch-password-container {
    position: relative;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgb(64 79 104 / 5%);
    margin-bottom: 30px;
    height: 549px;
}
.ch-password-container-title {
    padding: 20px;
}
.ch-password-container-title h4 {
    position: relative;
    line-height: 30px;
    margin-right: 30px;
    padding: 7px 0;
}
.ch-password-content {
    position: relative;
    padding: 0px 20px 10px;
}
.ch-password-content-form p {
    font-size: 10px;
    line-height: 11px;
    padding-top: 7px;
}
.row-content {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.ch-password-input {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    display: block;
    height: 94px;
    line-height: 30px;
    padding: 0px 12px;
    font-size: 15px;
}
.ch-password-dashboard input {
    position: relative;
    width: 100%;
    display: block;
    height: 60px;
    line-height: 30px;
    padding: 15px 20px;
    font-size: 15px;
    color: var(--dark-green);
    background-color: var(--light-green);
    border: 1px solid #f0f5f7;
    box-sizing: border-box;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.ch-password-dashboard input:focus-visible {
    border: 1.5px solid var(--green);
}
.ch-password-dashboard label {
    font-size: 15px;
    line-height: 20px;
    color: #202124;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
}
.ch-password-dashboard .ch-password-btn {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    display: block;
    line-height: 30px;
    padding: 0px 12px;
    font-size: 15px;
    height: 53px;
}
.ch-password-btn-style {
    position: relative;
    font-size: 14px;
    line-height: 25px;
    padding: 10px 30px;
    border-radius: 8px;
    color: var(--white);
    background: var(--dark-green);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    min-width: 160px;
}
.ch-password-btn-style:hover {
    background-color: #8ec9ca;
    color: var(--dark-green);
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*  .ch-password-title-box {
        margin-bottom: 40px;
    } */
    .ch-password-title-box h3 {
        font-weight: 500;
        font-size: 30px;
        line-height: 41px;
        color: #202124;
        margin-bottom: 10px;
    }
    .ch-password-container {
        height: 559px;
    }
    .ch-password-container-title {
        flex-wrap: wrap;
        padding: 20px 30px 30px;
        min-height: 60px;
    }
    .ch-password-content {
        padding: 0px 30px 10px 30px;
    }
    .ch-password-content-form p {
        font-size: 12px;
        line-height: 14px;
        padding-top: 10px;
    }
}
/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .ch-password-container-title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: transparent;
        padding: 20px 30px 30px;
        min-height: 60px;
    }
    .ch-password-content-form {
        height: 455px;
    }
    .ch-password-content-form p {
        white-space: nowrap;
        font-size: 12px;
        line-height: 14px;
        padding-top: 10px;
    }
    .row-content {
        height: 455px;
    }
    .ch-password-input {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .ch-password-btn {
        flex: 0 0 auto;
        width: 50%;
        height: 53px;
        margin-bottom: 30px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1023px) {
    .ch-password-menu-btn {
        display: none;
    }
}
@media (min-width: 1200px) {
    .ch-password-btn {
        flex: 0 0 auto;
        width: 50%;
        margin-bottom: 30px;
    }
    .ch-password-content {
        position: relative;
    }
    .ch-password-input {
        margin-bottom: 30px;
    }
    .ch-password-btn-style {
        position: relative;
        display: inline-block;
        min-width: 160px;
    }
}
