body {
    background-color: #e5f0ed;
}
.curriculum-section {
    background-color: #e5f0ed;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    width: 100vw;
    margin: 0 auto;
}

/* Titulos */
.titulo-principal-h3,
.titulo-inferior-h4 {
    color: #4a4a4a;
}
.contenedor-global {
    margin-left: 40px;
    margin-right: 40px;
}
.titulo-principal-h3 {
    /* margin-top: 80px; */
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.texto {
    margin-top: 20px;
    color: dimgray;
    line-height: 24px;
}

.icono {
    margin-right: 1rem;
    color: #4a4a4a;
}
.p-blue {
    color: #2c7a7b;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 12px;
}
.p2 {
    padding-bottom: 25px;
}
.container-superior {
    margin-bottom: 8em; /* Necesario para la posición del menu navegación */
}

.contenedor-inferior {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 3rem;
    cursor: pointer;
    margin-top: 2rem;
}
.titulo-inferior-h4 {
    padding: 2rem;
}
.cv-uploadButton {
    height: 270px;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem;
    border: 3px dashed #ced4e1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}
.cv-uploadButton:hover {
    border: 3px dashed #4a4a4a;
}

.contenedor-cv:nth-child(2) {
    line-height: 19px;
    color: dimgray;
}

/* Ocultar input file */

.upload-input {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
    height: 0;
    width: 0;
    display: none;
}

.upload-button {
    width: 170px;
    white-space: nowrap;
    color: #fff;
    background-color: #47d7ac;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all 0.5s ease;
    cursor: pointer;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
}
.upload-button:hover {
    background-color: #2c7a7b;
}

/* ESTILOS CAJA ARCHIVO */
.caja-archivo {
    display: none;
}

.mostrar {
    animation-name: modalopen;
    animation-duration: 1s;
    margin-top: 30px;
    margin-left: 2rem;
    height: 167px;
    width: 190px;
    background: #e5f0ed;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;
}
.titulo-documento {
    color: dimgray;
    margin-left: 2rem;
    margin-right: 2rem;
}

.edit-btns {
    display: flex;
}
.contenedor-trash {
    background-color: white;
    width: 100%;
    padding: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

/* ALERTAS */
.red-alert {
    color: #e74c3c;
    display: none;
}
.green-alert {
    color: #07bc0c;
    display: none;
}

.icono-trash {
    color: #47d7ac;
}
.icono-trash:hover {
    color: #2c7a7b;
}

@media (min-width: 768px) {
    .p-blue {
        margin-top: 30px;
        line-height: 24px;
        margin-bottom: 12px;
    }
}

@media (min-width: 1400px) {
    .curriculum-section {
        max-width: 1200px;
    }
}
