.forgotten-pwd-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  background-color: var(--light-green);
  color: var(--darkgrey);
  line-height: 1.7;
}

.forgotten-pwd-main-container .container {
  width: 90%;
  max-width: 650px;
  box-shadow: 0px 10px 23px 5px rgba(0, 0, 0, 0.1);
  margin: 10rem auto;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--white);
}

.forgotten-pwd-main-container .container h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.forgotten-pwd-main-container .container p {
  text-align: center;
  margin: 1.5rem auto;
  font-size: 1.3rem;
  max-width: 80%;

}

.forgotten-pwd-main-container .container label {
  display: none;
}

.forgotten-pwd-main-container  .btn-container{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
    max-width: 80%;
}

.forgotten-pwd-main-container  .alert {
  border-radius: 0.3rem;
  padding: 0.25rem .5rem;
  width: 80%;
  margin: 1rem auto;
  display: block;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
}
.forgotten-pwd-main-container  .alert svg{
  margin-right: 0.5rem;
}
.forgotten-pwd-main-container  .alert-red {
  background-color: var(--invalid);
}
