/* contacto */
.containerall {
    width: 100vw;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    padding: 0;
    margin: 0;
    border: 2px solid var(--green);
}

.map-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--green);
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    padding-right: 15px;
    list-style-type: none;
    font-size: 1.3rem;
    line-height: 30px;
}

.contact-text {
    color: var(--black);
    line-height: 20px;
    margin-left: 16px;
}

.h1Tit {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5em;
    color: var(--green);
}

.codespace-link {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5em;
    color: var(--green);
    margin-top: 30px;
}
.codespace-link a {
    text-decoration: none;
    color: var(--dark-green);
    font-size: 1.5rem;
    font-weight: bold;
}

/* sobre nosotros*/
.marginContainer {
    width: 100vw;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 10em 1em;
    background-color: var(--light-green);
}
.usContainer {
    background-color: var(--white);
    border-radius: 1rem;
    /* min-height: calc(90vh - var(--header-height) - var(--footer-height)); */
    align-content: center;
}

.pall {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 1.3rem;
    margin: 3rem 5rem;
}
.h1Us {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5em;
    color: var(--green);
}
.developers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8rem;
    margin-bottom: 6rem;
}
.developersName {
    display: flex;
    flex-direction: column;
}
.p {
    margin: 4rem 0 3rem;
}
.q {
    font-style: italic;
    font-weight: 700;
}
.c {
    text-decoration: none;
    font-weight: 700;
    margin: 0 5px;
    color: var(--black);
}
.c:hover {
    font-weight: 900;
}
.developers > ul > li {
    list-style: none;
    margin-bottom: 0.5rem;
}
@media (max-width: 576px) {
    .developersName {
        font-size: 1rem;
    }
    .p {
        margin: 4rem 0 3rem;
        font-size: 1.6rem;
    }
    .q {
        font-size: 1.6rem;
    }
    .pall {
        margin: 3rem;
    }
}
@media (min-width: 768px) {
    .mapsCode {
        padding: 2px;
    }
    .contact-info {
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 992px) {
    .mapsCode {
        padding: 2px;
    }
    .pall {
        font-size: 1.7rem;
    }
    .containerall {
        background-color: var(--light-green);
    }

    .map-container {
        width: 80%;
    }

    .h1Tit {
        line-height: normal;
        margin-bottom: 10px;
    }
    .public {
        background-color: var(--white);
        padding: 40px 20px;
        margin-top: 30px;
        border-radius: 1rem;
        width: 80%;
    }
}
@media (min-width: 1400px) {
    .usContainer {
        max-width: 1400px;
        margin: 0 auto;
    }
    .pall {
        font-size: 2rem;
    }
    .containerall {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .map-container {
        width: 60%;
    }

    .public {
        width: 60%;
        margin-bottom: 50px;
    }
}
