.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--light-green);
  color: var(--darkgrey);
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 600px;
  box-shadow: 0px 10px 23px 5px rgba(0, 0, 0, 0.1);
  margin: 10rem auto;
  padding: 1.3rem;
  border-radius: 1rem;
  background-color: var(--white);
}

.container h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.container label {
  display: block;
  margin-bottom: -1rem;
  font-weight: 700;
  margin-left: 2rem;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.instructions {
  font-size: 0.8rem;
  border-radius: 0.3rem;
  background: var(--darkgrey);
  color: #fff;
  padding: 0.4rem;
  width: 90%;
  margin: -2rem auto .5rem auto;
  display: block;
  font-weight: 300;
  text-align: justify;
}

.instructions > svg {
  margin-right: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.valid {
  color: var(--valid);
  margin-left: 0.5rem;
  font-size: 1rem;
}

.invalid {
  color: var(--invalid);
  margin-left: 0.5rem;
  font-size: 1rem;
}
.hide {
  display: none;
}
.input-container {
  position: relative;
  margin: 0 auto;
  width: 90%;
}
.password-visiblity-icon {
  position: absolute;
  padding: 0.7rem;
  right: 10px;
  top: 25px;
  color: var(--darkgrey);
  cursor: pointer;
}

.reset-password {
  background-color: var(--light-green);
  color: var(--darkgrey);
  border: none;
  padding: 0.9rem;
  border-radius: 0.3rem;
  font-weight: 500;
  width: 100%;
  margin: 1.5rem auto 3rem auto;
}

.reset-password:focus {
  border: 1px solid #47d7ac;
  box-shadow: 0 0 5pt 2pt #d3d3d3;
}

.alert {
  border-radius: 0.3rem;
  padding: 0.25rem .5rem;
  width: 80%;
  margin: 1rem auto;
  display: block;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
}

.alert-red {
  background-color: var(--invalid);
}
