.reset-pwd-main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  background-color: var(--light-green);
  color: var(--darkgrey);
  line-height: 1.5;
  
}

.reset-pwd-main-container .container {
  width: 90%;
  max-width: 600px;
  box-shadow: 0px 10px 23px 5px rgba(0, 0, 0, 0.1);
  margin: 10rem auto;
  padding: 1.7rem;
  border-radius: 1rem;
  background-color: var(--white);

}
.reset-pwd-main-container .container input{
  font-size: 16px;
}
.reset-pwd-main-container .container svg{
font-size: 16px;
margin-top: -0.3rem;
}
.reset-pwd-main-container .container h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

.reset-pwd-main-container .container label {
  display: block;
  margin-bottom: -1rem;
  font-weight: 700;
  margin-left: 2rem;
  font-size: 16px;
}

.reset-pwd-main-container .btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.reset-pwd-main-container .instructions {
  font-size: 12px;
  border-radius: 0.3rem;
  background: var(--darkgrey);
  color: #fff;
  padding: 0.4rem;
  width: 90%;
  margin: -2rem auto .5rem auto;
  display: block;
  font-weight: 300;
  text-align: justify;
}

.reset-pwd-main-container .instructions > svg {
  margin-right: 0.5rem;
}

.reset-pwd-main-container .offscreen {
  position: absolute;
  left: -9999px;
}

.reset-pwd-main-container .valid {
  color: var(--valid);
  margin-left: 0.5rem;
  font-size: 1rem;
}

.reset-pwd-main-container .invalid {
  color: var(--invalid);
  margin-left: 0.5rem;
  font-size: 1rem;
}
.reset-pwd-main-container .hide {
  display: none;
}
.reset-pwd-main-container .input-container {
  position: relative;
  margin: 0 auto;
  width: 90%;
}
.reset-pwd-main-container .password-visiblity-icon {
  position: absolute;
  padding: 0.7rem;
  right: 10px;
  top: 25px;
  color: var(--darkgrey);
  cursor: pointer;
}

.reset-pwd-main-container .reset-password {
  background-color: var(--light-green);
  color: var(--darkgrey);
  border: none;
  padding: 0.9rem;
  border-radius: 0.3rem;
  font-weight: 500;
  width: 100%;
  margin: 1.5rem auto 3rem auto;
}

.reset-pwd-main-container .reset-password:focus {
  border: 1px solid #47d7ac;
  box-shadow: 0 0 5pt 2pt #d3d3d3;
}

.reset-pwd-main-container .alert {
  border-radius: 0.3rem;
  padding: 0.25rem .5rem;
  width: 90%;
  margin: 1rem auto;
  display: block;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
}
.reset-pwd-main-container .alert svg {
  margin-right: 0.5rem;
}
.reset-pwd-main-container .alert-red {
  background-color: var(--invalid);
}
