.unauthorized {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  background-color: var(--light-green);
  color: var(--darkgrey);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.unauthorized p{
    font-size: 1.6rem;
      margin-bottom: 20px;
}

.unauthorized-btn{
    background-color: var(--green);
    color: var(--light-green);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
}

.unauthorized-btn:hover{
    background-color: var(--dark-green);
}
