/* main container of the page */

.main-wrapper {
    background-color: var(--light-green);
    padding: 40px 15px;
    /* width: 100vw; */
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.main-container {
    max-width: 1400px;
    margin: 0 auto;
}

/* header class containing title and a paragraph */

.main-container .header {
    /* margin-bottom: 3.7rem; */
    margin-bottom: 8.5em; /* Necesario para la posición del menu lateral de navegación */
}

.main-container .header h3 {
    margin-bottom: 5px;
    font-size: 1.8rem;
    line-height: 1.3em;
}

.main-container .header p {
    color: var(--darkgrey);
    line-height: 24px;
    font-size: 1.2rem;
}

/* temporary css for the button, it will be replaced by a button component */
/* the button disappers in the desktop view */

/* .main-container button {
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 5px;
} */

/* container for the table title, select filter and the table */

.applied-jobs-container {
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(64, 79, 104, 0.05);
    margin-bottom: 30px;
    margin-top: 30px;
}

/* the table title contains the title and the select filter */

.table-title {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.table-title h4 {
    font-size: 1.3rem;
    line-height: 30px;
    font-weight: 600;
    margin-right: 30px;
    padding: 7px 0;
}

/* style for the select filter */

.select-filter {
    min-width: 160px;
    height: 45px;
    padding: 10px 20px;
    font-size: 14px;
    color: var(--darkgrey);
    background-color: var(--light-green);
    border: 1px solid var(--darkgrey);
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* style for the error message paragraph in case the fetch fails */

.fetch-error {
    color: var(--invalid);
    background-color: #f6d8db;
    font-size: 1.3rem;
    border: 1px solid var(--invalid);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

/* Tablet devices */
@media (min-width: 576px) {
    .table-title {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    .main-container {
        padding: 40px 30px;
    }
}

/* Laptop devices */
@media (min-width: 768px) {
}
/* Desktop */
@media (min-width: 992px) {
}
/* Large devices */
@media (min-width: 1200px) {
}

/* XXL devices */
@media (min-width: 1400px) {
}
