.button-styles {
  color: var(--dark-green);
  background: rgba(25, 103, 210, 0.07);
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  position: relative;
  line-height: 25px;
  padding: 10px 30px;
  border-radius: 8px;
  top: -6rem;
}

@media (min-width: 992px) {
  .button-styles{
/* display: none; */
  }
}