.header-container{
    display:flex;
    flex-dirrection:row;
    justify-content: space-between;
    background-color: var(--green);
}

.nav-container{
    display:flex;
    flex-dirrection:row;
}

.nav-container li{
    list-style: none;
    display: inline-block;
}

