.footer {
  background-color: rgb(242, 238, 238);
  padding: 0.8rem;
  text-align: center;
  font-size: .9rem;
  width: 100vw;
  overflow: hidden;
  height: var(--footer-height);
}
.heart {
  font-size: 1rem;
  color: var(--dark-green);
  animation-name: heart;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes heart {
  25% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

@media (min-width: 820px) {
  .footer {
    text-align: center;
    font-size: 1.3rem;
    padding: 1.1rem;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .footer {
    text-align: center;
    font-size: 1.5rem;
    padding: 1.2rem;
    width: 100%;
  }
}
