.header {
  background-color: var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: var(--header-height);
  padding: 1rem 1.65rem;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.logo {
  display: flex;
  align-items: center;
  width: 100px;
}

.btn {
  display: none;
}
.icon {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.dashboard-btn{
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px;
  border-radius: 8px;
  color: var(--white);
  background: var(--dark-green);
  white-space: nowrap;
  transition: 0.3s;
  cursor: pointer;
  display: block;
  margin: 0 0.5rem;
}

.dashboard-btn :hover {
  background-color: #8ec9ca;
  color: var(--dark-green);
  font-weight: 500;
  box-shadow: -2px -2px 5px 0px #3a3939bf;
}

@media (min-width: 820px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    width: 180px;
  }

  .btn {
    display: none;
  }
  .icon {
    display: flex;
    align-items: center;
    margin-right: 1em;
    font-size: 2.2rem;
  }
}
@media (min-width: 1280px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .logo {
    display: flex;
    align-items: center;
    margin-left: 4em;
  }

  .btns {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }
  .btn {
    font-size: 14px;
    line-height: 25px;
    padding: 10px 30px;
    border-radius: 8px;
    color: var(--white);
    background: var(--dark-green);
    white-space: nowrap;
    transition: 0.3s;
    cursor: pointer;
    display: block;
  }
  .btn:hover {
    background-color: #8ec9ca;
    color: var(--dark-green);
    font-weight: 500;
    box-shadow: -2px -2px 5px 0px #3a3939bf;
  }
  .icon {
    display: none;
  }
}
