.info-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    /* margin: 50px 0rem 0; */
    background-color: var(--light-green);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px, var(--gree);
    /* width: 25%; */
    border-radius: 0.375rem;
    font-weight: bolder;
}
.info-details u {
    color: var(--dark-green);
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}

.offer-detail {
    padding: 1rem;
    font-weight: normal;
    font-size: 1.2rem;
}

.offer-detail .icon {
    margin-right: 1rem;
    color: var(--darkgrey);
    font-size: 1.5rem;
}

.button-empresa {
    background-color: var(--dark-green);
    color: var(--white);
    border: none;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    text-align: center;
}
.button-empresa:hover {
    background-color: var(--green);
    color: #fff;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .info-details {
        width: 25%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {
}
